/* Make me pretty! */

@font-face {
	font-family: 'calligraphy';
	src: url('font/Z003-MediumItalic.ttf') format('truetype');
}

/* both equally */
p, h2
{
	color: blue;
	text-align: justify;
}

.enigma1
{
	color: red;
	background-image: url("enigmeGollumSmall.jpg");
}

#enigma2
{
	color: green;
	font-family: calligraphy, "dejavu sans", sans-serif;
	font-size: xx-large;
	font-style: oblique;
	font-weight: bold;
	background-color: silver;
	opacity: 0.4;
}

#brutal
{
	color: pink;
	font-size: xx-large;
	text-decoration: underline;
	background-color: grey;
}

/* li within ul */
ul li
{
	color: orange;
}

ol
{
	font-size: 0.5em;
}

dl
{
	font-size: 2em;
	border: 4px maroon outset;
}

#gollumSmall
{
	float: right;
}

#under
{
	clear: both;
}

body
{
	background: url("enigmeGollumSmall.jpg") fixed no-repeat top right, url("enigmeGollumSmall.jpg") no-repeat top left, #FFFFAA;
}
